* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
  min-width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
  
}

.graphics {
    overflow-x: hidden;
}
.desk-graphic {
    display: none;
}
.background {
    background: url(img/wavy-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    position: relative;
}
.logo {
    width: 100%;
    display: inline-flex;
}

.logo p {
    margin-top: 17px;
    margin-left: -7px;
    font-size: .9rem;
}
header {
    display: inline-block;
}


.mob-graphic {
    width: 85%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img.desk-detail {
    display: none;
}

.hero-text {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    margin-top: -165px;
}
.box{
	position: absolute;
	margin-top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s 3;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

main {
    text-align: center;
    padding: 3%;
}

button#clickme {
    border: none;
    color: white;
    padding: 2% 4%;
    font-size: 1rem;
    background: #4C61EF;
    border-radius: 10px;
    margin-top: 5%;
    cursor: pointer;
}

button#clickme:hover {
    background: #784CEF;
    transition: .4s ease;
}
#content {
    height: 200px;
    background: #4C61EF;
    width: 85%;
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;
    border-radius: 25px;
    position: relative;
    padding-top: 140px;
}

img#food-img {
    position: absolute;
    left: 10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: -160px;
}

footer {
    background: #784cef;
    color: white;
    text-align: center;
    padding: 2% 0;
    margin-top: 2%;
}


@media (min-width: 360px) {
    .mob-graphic {
        width: 100%;
        top: 1%;
    }

    .hero-text {
        margin-top: -220px;
    }
}

@media (min-width: 430px) {
    .mob-graphic {
        top: 2%;
    }
    #content {
        font-size: 1.4rem;
    }
}

@media (min-width: 500px) {
    .mob-graphic {
        width: 75%;
        top: -14%;
    }
    .hero-text {
        margin-top: -205px;
    }
    #content {
        width: 75%;
    }
}

@media (min-width: 550px) {
    .mob-graphic {
        width: 70%;
        top: -17%;
    }
}

@media (min-width: 620px) {
    .mob-graphic {
        width: 65%;
        top: -23%;
    }

    button#clickme {
        padding: 1% 4%;
    }
}

@media (min-width: 700px) {
    .logo {
        margin-left: 46px;
    }
    h1 {
        position: absolute;
        left: 60px;
        top: 24%;
        font-size: 3rem;
        width: 300px;
    }

    .hero-text {
        position: static;
    }
    .desk-graphic {
        display: block;
        position: absolute;
        right: 20px;
        top: 13%;
        width: 55%;
    }

    .mob-graphic {
        display: none;
    }
    main {
        margin-top: 25%;
    }

    #content {
        width: 40%;
    }


    img.desk-detail {
        display: block;
        position: absolute;
        width: 20%;
        left: -47px;
        top: 55%;
    }
}

@media (min-width: 850px) {
    h1 {
        top: 30%;
    }

    .desk-graphic {
        top: 12%;
    }

    main {
        margin-top: 20%;
    }

}

@media (min-width: 950px) {

    .logo {
        margin-left: 120px;
    }
    h1 {
        left: 140px;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 4rem;
        width: 400px;
    }

    .desk-graphic {
        width: 50%;
        right: -8px;
    }

    img.desk-detail {
        width: 15%;
        left: -50px;
    }

    #content {
        font-size: 1.7rem;
    }

    img#food-img {
        width: 70px;
    }
}

@media (min-width: 1200px) {
    .desk-graphic {
        top: 4%;
    }

    h1 {
        top: 25%;
    }

    .box {
        margin-top: 6%;
    }

    main {
        margin-top: 12%;
    }
}

@media (min-width: 1350px) {
    .logo {
        margin-left: 170px;
    }

    h1 {
        left: 185px;
    }
}

@media (min-width: 1800px) {
    .logo {
        margin-left: 295px;
    }

    .logo img {
        width: 100px;
    }

    .logo p {
        margin-top: 38px;
        margin-left: -7px;
        font-size: 1.3rem;
    }

    .desk-graphic {
        top: 0;
    }

    h1 {
        left: 335px;
        font-size: 7rem;
        width: 550px;
    }

    .box {
        margin-top: 0;
    }

    .box span {
        width: 40px;
        height: 40px;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
    }

    main {
        margin-top: 2%;
    }

    button#clickme {
        padding: 1% 4%;
        font-size: 1.5rem;
        margin-bottom: 1%;
    }

    #content {
        font-size: 1.7rem;
        height: 280px;
        padding-top: 180px;
    }

    img#food-img {
        margin-top: -235px; 
    }
}


@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}